<html>
<head>
  <title AirQuality Search></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div class="sample">&nbsp;</div>
	<div class="container">
		<table class="table">
			 <thead class="thead-dark">
			    <tr style="background-color:#BEBEBE">
			      <th colspan="2" style="text-align:center;" scope="row" >Search for the air quality and pollen information in your city!</th>
			   	</tr>
			 </thead>
		</table>
	  	<input type="text" class="form-control" id="input_city" placeholder="Enter a city" data-location="{{result['location']}}">
	  	<div class="sample">&nbsp;</div>
	  	 <button id="redirect" name="singlebutton" class="btn btn-primary center-block" onclick="findProject()">Next Step!</button>
	</div>
</body>
<script>
	function findProject(){
    	document.location = "/"+document.getElementById('input_city').value;
	}
</script>
</html>